.naoencontrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.naoencontrado h1{
    font-size: 150px;
}

.naoencontrado a{
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    padding: 10px;
}